#page-sidebar-left {
  @include grid-row();
  max-width: 100vw;

  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
      margin-top: 24px;
    }

    @include breakpoint(medium) {
      margin-left: 132px;
      margin-top: 132px;
      padding-left: 0;
      padding-right: 0;

      .padded {
        padding: 2rem;
      }

      header {
        padding-left: 3rem;
      }

      .orbit {
        max-width: 89vw;
      }

      >article {
        padding-left: 2rem;
        padding-top: 2rem;
        max-width: 80vw;
      }
    }
  }

  .sidebar {
    @include show-for(medium);

    @include breakpoint(medium) {
      position: fixed;
      width: 132px;
      top: 132px;
      left: 0;
      bottom: 0;
      background: #303b43;
    }
  }
}
