#single-post {
  @include grid-row();
  max-width: 100vw;


  .main-content {

    @include breakpoint(small) {
      @include grid-column(12);
      margin-top: 70px;
    }

    @include breakpoint(medium) {
      margin-left: 152px;
      margin-top: 142px;
      max-width: 80vw;
      a {
        color: $primary-color;
      }
      a:hover {
        color: scale-color($primary-color, $lightness: -14%);
      }
    }

    .edit-link {
      float: right;
    }
    .delete-link {
      float: right;
      a {
        color: $alert-color;
      }
    }
    .entry-title {
      font-size: 2rem;
    }

  }

  .sidebar {
    @include show-for(medium);

    @include breakpoint(medium) {
      position: fixed;
      width: 132px;
      top: 132px;
      left: 0;
      bottom: 0;
      background: #303b43;
    }
  }
}
