.sidebar {
  @include breakpoint(small) {
    @include grid-column(12);
  }

  @include breakpoint(medium) {
    @include grid-column(4);
  }

  #menu-sidebar-left > li {
    border-bottom: 1px solid $light-gray;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

    .submenu {
      position: fixed;
      right: auto;
      left: 132px;
      top: 132px;
      bottom: 0;

      > li {
        border-bottom: none;
        margin-top: 1.2rem;
        > a { color: #0098a1;}
      }
    }
  }

  #menu-sidebar-left.dropdown.menu.vertical > li.opens-right > a::after {
    display: none;
  }

}
