.sidebar {
  @include breakpoint(small) {
    @include grid-column(12);
  }

  @include breakpoint(medium) {
    @include grid-column(4);
  }

  #menu-sidebar-left > li {
    border-bottom: 1px solid #86949e;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;

    >a {
      color: #86949e;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.4;
      &:hover {
        text-decoration: underline;
      }
    }

    .submenu {
      position: fixed;
      right: auto;
      left: 132px;
      top: 132px;
      bottom: 0;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;

      > .submenu-header {
        font-weight: 500;
        font-size: 17px;
        line-height: 2.4;
        margin-bottom: 20px;
        color: #333
      }

      > li {
        border-bottom: none;
        margin-bottom: 14px;

        > a {
          color: $primary-color;
          font-weight: 400;
          font-size: 16px;
          line-height: 2.4;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  #menu-sidebar-left > li > a {
    padding: 0.2rem 0 0.2rem 0;
  }

  #menu-sidebar-left.dropdown.menu.vertical > li.opens-right > a::after {
    display: none;
  }

}
